<footer id="footer_container">
  <div>
    <ul class="list-inline">
      <!-- <li><a routerLinkActive="active" routerLink="/download">{{'Télécharger' | customTranslation }}</a></li> -->
      <li><a routerLinkActive="active" routerLink="/about">{{'À propos' | customTranslation }}</a></li>
      <li><a routerLinkActive="active" routerLink="/offers">{{'Nos offres' | customTranslation }}</a></li>
      <li><a routerLinkActive="active" routerLink="/legal-mentions">{{'Mentions Légales' | customTranslation }}</a></li>
      <li><a routerLinkActive="active" routerLink="/privacy-policy">{{'Politique de confidentialité' | customTranslation
          }}</a></li>
      <li><a routerLinkActive="active" routerLink="/license-agreement">{{'Conditions générales d’utilisation' |
          customTranslation }}</a></li>
          <li class="contact" ><span>Contact: &nbsp;<a href="mailTo:contact@tzone.com">contact@tzone.com</a></span></li>
    </ul>
    <p class="copyright">T-Zone © 2020</p>
  </div>
</footer>