<div class="page_container text_page_container">
    <div class="page_content text_page_content ">
        <h1 style="color:#FFAC78; font-weight: bold;">TZone</h1>
        <h2 style="width: 1000px">{{"Étant étudiants travaillant dans le web, il nous arrive par moment de tomber sur du code sur dans image." | customTranslation: ['about', 0]}}</h2>
        <p class="page_content_paragraph" style="width: 1000px">
            {{"Le problème c’est que n’est pas possible de copier le texte dans l’image directement.  Nous avons décidé"+
            "de répondre a ce problème par" +
            "le biais d’une extension chrome, qui en un raccourci permet de copier un texte depuis n'importe quel contenu" +
            "d'une page web !" | customTranslation: ['about', 1]}}
            <br /><br />
            <b>{{"Et ce n'est pas tout !" | customTranslation: ['about', 2]}}</b> 
            {{"Nous sommes aller plus loin en proposant la traduction immédiate du texte récupéré." | customTranslation: ['about', 3]}}
            <br/><br/>
            {{"Regardez" | customTranslation: ['about', 4]}} <a routerLink="/offers">{{"nos offres" | customTranslation: ['about', 5]}} </a> {{"pour en savoir plus." | customTranslation: ['about', 6]}}
        </p>
    </div>
</div>