:root {
    --bg_color: #141d2a;
    --bg_container: #203149;

    --font_color: #ffac78;
    --font_color_greyed: #e9af8b;

    --grey: rgb(211, 199, 199);
    --font_grey: #b5bfc8;
    --font_grey_opac: rgba(181, 191, 200, 0.719);
    --middle_grey: #7a6f6f;
    --dark_grey: #5d5858;
    --dark_grey_opac: rgba(93, 88, 88, 0.438);
    --darker_grey: rgb(59, 58, 58);

    --red: #fa3838;
    --blue: #5865f2;
    --green: #58f28b;
}
