@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@300;400;500;600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

:root {
    --title_font: 'Poppins', sans-serif;
    --main_font: 'Montserrat', sans-serif;
    --tiny_font: 'Source Sans Pro', sans-serif;
}