<div class="page_container text_page_container">
    <div class="page_content text_page_content ">
        <h1 style="color:#FFAC78; font-weight: bold; text-align: center;">{{'Mentions Légales' | customTranslation}}</h1>
        <p >{{
            "Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la " +
            "Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et " +
            "visiteurs, ci-après l'\"Utilisateur\", du site https://www.tzone.com ou de l’extension Tzone, ci-après le " +
            "\"Site\", les présentes mentions légales. " +
            "La connexion et la navigation sur le Site par l’Utilisateur implique l'acceptation intégrale et sans réserve " +
            "des présentes mentions légales. " +
            "Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ». " | customTranslation: ['mentions', 0]
        }}
        </p>
        <h2>{{"ARTICLE 1 - L'EDITEUR" | customTranslation: ['mentions', 1]}}</h2>


        <p>{{
            "L’édition et la direction de la publication du Site est assurée par L'équipe TZone, domiciliée 40 Bd de la " +
            "Marquette, 31000 Toulouse, dont le numéro de téléphone est 0707070707, et l'adresse e-mail " +
            "contact@tzone.com. ci-après l'\"Editeur\". " | customTranslation: ['mentions', 2]
        }}</p>

        <h2>{{"ARTICLE 2 - L'HEBERGEUR" | customTranslation: ['mentions', 3]}}</h2>

        <p>{{"L'hébergeur du Site est la société YamiKami_Sama Host, dont le siège social est situé au Sama Boulevard , " + 
            "avec le numéro de téléphone : 0606060606 et l’adresse mail de contact contact@yamikami.fr" | customTranslation: ['mentions', 4]}}</p>

            <h2>{{"ARTICLE 3 - ACCES AU SITE" | customTranslation: ['mentions', 5]}}</h2>

            <p>{{
                "Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance. " +
                "En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable." | customTranslation: ['mentions', 6]
                }}
                </p>

                <h2>{{"ARTICLE 4 - COLLECTE DES DONNEES" | customTranslation: ['mentions', 7]}}</h2>

                <p>
                    {{
                    "Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs. " +
                    "Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site﻿, sans autorisation de l’Editeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil. " +
                    "Pour plus d’informations, se reporter aux CGU du site https://www.tzone.com accessible à la rubrique \"CGU\" " +
                    "Pour plus d'informations en matière de protection des données à caractère personnel , se reporter à la Charte en matière de protection des données à caractère personnel du site https://www.tzone.com accessible à la rubrique \"Données personnelles\" " +
                    "Pour plus d'informations en matière de cookies, se reporter à la Charte en matière de cookies du site https://www.tzone.com accessible à la rubrique \"Cookies\" " | customTranslation: ['mentions', 8]}}
                </p>
    </div>
</div>